/* Global styles */

html {
  font-size: 18px;
  list-style: 1.4em;
}

body {
  font-family: Helvetica;
}

h1, h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: auto;
}

nav, .title {
  color: white;
  background-color: cadetblue;
}

/* Header Section */

header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
}

header span, .title {
  font-size: 1rem;
}

nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

#logo img {
  height: 1.5rem;
  margin: 0 1rem 0 2rem;
}

.flex-header {
  display: flex;
  justify-content: flex-end;
}

.header-banner {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  line-height: 2.4rem;
  margin-right: -2rem;
  display: inline-block;
}

.header-banner h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0.67em 0;
}

.mobile-menu {
  display: none;
}

/* Supportive Section */

.supporting {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

img.paper-icon {
  width: 3.5rem;
}

/* Info section */

.title {
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.info p {
  padding: 1rem 0;
}

/* Footer */
footer {
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  header {
    padding: 0;
    height: 22rem;
  }

  .header-banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .header-banner h1 {
    font-size: 1.33rem;
    margin: 0.67rem 0;
  }

  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .mobile-menu {
    display: block;
  }

  .desktop-menu {
    display: none;
  }

  header {
    height: 17rem;
    background-position: 20%;
  }

  .header-banner {
    padding: 0;
    width: 100%;
    text-align: center;
    margin: 9rem 0 0 0;
  }

  .header-banner h1 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .supporting {
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0 0 0;
  }

  .service {
    margin: 0 0 1.54rem 0;
    font-size: 0.77rem;
    height: 7rem;
  }

  .info {
    width: 100%;
    margin: 0;
  }

  .title {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .info p {
    margin: 1rem 0 4rem 0;
    font-size: 0.77rem;
  }

  footer div {
    display: none;
  }

  footer img {
    margin: auto;
  }

}
